@import "components/elements/header";
@import "components/elements/whattsap-icon";
@import "components/elements/footer";
@import "components/elements/barra-separadora";

@import "components/body-nosotros";
@import "components/body-comollego";
@import "components/body-tienda";
@import "components/body-index";



* {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

body{
    margin-top: 10px;
}

$fuente: 'Open Sans', sans-serif;

h1,h2,h3,h4{
    font-family:$fuente;
}

.contenedor-secciones{
    margin-top: 81px;
  }


p{
    font-family: $fuente;
    font-size: 14px;
}

