$tamanio : 80%;



.botones-locacion{
    margin-top: 40px;
    margin-bottom: 20px;
}




.container-comollego{
    margin-bottom: 50px;
}

.botones-container,.mapa-containers{

    width: $tamanio;
}