$font-family: 'Open Sans', sans-serif;


.box{
    position:relative;
  }


.img-title{
    position: absolute;
    color: black;
    text-align: center;
    left: 0;
    right: 0;
    top: 40%;
    letter-spacing: 3px;
  }