.btn-whatsapp {
  display: block;
  width: 70px;
  height: 70px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  z-index: 999;
}





@media (max-width:996px) {

  .btn-whatsapp {
    width: 55px;
    height: 56px;
    right: 0px;
    bottom: 30px;
  }

}